<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fasterflect" version="2.1.3" targetFramework="net46" />
  <package id="JetBrains.Annotations" version="9.2.0" targetFramework="net45" />
  <package id="Lindi.Core" version="1.0.1.0" targetFramework="net45" />
  <package id="Microsoft.Experimental.Collections" version="1.0.3-alpha" targetFramework="net46" />
</packages>